## Cleaning the DATA befor Analysing

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import re

In [2]:
import nltk
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [3]:
cwd = os.getcwd()
df = pd.read_csv(cwd+"/British_Airways_reviews.csv", index_col=0)

In [4]:
df.head()

,reviews,stars,date,country
0,"Not Verified | Before my flight, I was forced ...",5,15th August 2024,United Kingdom
1,✅ Trip Verified | British Airways at its bes...,1,12th August 2024,United Kingdom
2,✅ Trip Verified | An excellent flight! Despite...,8,12th August 2024,Lebanon
3,✅ Trip Verified | I recently traveled with Bri...,8,11th August 2024,United States
4,✅ Trip Verified | My family and I were booke...,3,9th August 2024,United Kingdom

In [5]:
df['verified'] = df.reviews.str.contains("Trip Verified")

In [6]:
df['verified']

0       False
1        True
2        True
3        True
4        True
        ...
3835    False
3836     True
3837     True
3838     True
3839    False
Name: verified, Length: 3840, dtype: bool

In [7]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
lemma = WordNetLemmatizer()
reviews_data = df.reviews.str.strip("✅ Trip Verified |")
corpus =[]
for rev in reviews_data:
    rev = re.sub('[^a-zA-Z]',' ', rev)
    rev = rev.lower()
    rev = rev.split()
    rev = [lemma.lemmatize(word) for word in rev if word not in set(stopwords.words("english"))]
    rev = " ".join(rev)
    corpus.append(rev)

In [8]:
df['corpus'] = corpus

In [9]:
df.head()

,reviews,stars,date,country,verified,corpus
0,"Not Verified | Before my flight, I was forced ...",5,15th August 2024,United Kingdom,False,verified flight forced ground staff check new ...
1,✅ Trip Verified | British Airways at its bes...,1,12th August 2024,United Kingdom,True,british airway best outstanding service flight...
2,✅ Trip Verified | An excellent flight! Despite...,8,12th August 2024,Lebanon,True,excellent flight despite hour flight configure...
3,✅ Trip Verified | I recently traveled with Bri...,8,11th August 2024,United States,True,recently traveled british airway mixed experie...
4,✅ Trip Verified | My family and I were booke...,3,9th August 2024,United Kingdom,True,family booked leave london hong kong august ma...

In [10]:
df.dtypes

reviews     object
stars        int64
date        object
country     object
verified      bool
corpus      object
dtype: object

In [11]:
df.date = pd.to_datetime(df.date)

In [12]:
df.date.head()

0   2024-08-15
1   2024-08-12
2   2024-08-12
3   2024-08-11
4   2024-08-09
Name: date, dtype: datetime64[ns]

In [13]:
df.stars.unique()

array([ 5,  1,  8,  3,  2, 10], dtype=int64)

In [14]:
df['stars'] = df['stars'].astype(str).str.strip("\n\t\t\t\t\t\t\t\t\t\t\t\t\t")

In [15]:
df.stars.value_counts()

1     1047
8     1047
2      698
5      350
3      349
10     349
Name: stars, dtype: int64

In [16]:
df.drop(df[df.stars == "None"].index, axis=0, inplace=True)

In [17]:
df.stars.unique()

array(['5', '1', '8', '3', '2', '10'], dtype=object)

In [18]:
df.isnull().value_counts()

reviews  stars  date   country  verified  corpus
False    False  False  False    False     False     3840
dtype: int64

In [19]:
df.country.isnull().value_counts()

False    3840
Name: country, dtype: int64

In [20]:
df.drop(df[df.country.isnull() == True].index, axis=0, inplace=True)

In [21]:
df.shape

(3840, 6)

In [22]:
df.reset_index(drop=True)

,reviews,stars,date,country,verified,corpus
0,"Not Verified | Before my flight, I was forced ...",5,2024-08-15,United Kingdom,False,verified flight forced ground staff check new ...
1,✅ Trip Verified | British Airways at its bes...,1,2024-08-12,United Kingdom,True,british airway best outstanding service flight...
2,✅ Trip Verified | An excellent flight! Despite...,8,2024-08-12,Lebanon,True,excellent flight despite hour flight configure...
3,✅ Trip Verified | I recently traveled with Bri...,8,2024-08-11,United States,True,recently traveled british airway mixed experie...
4,✅ Trip Verified | My family and I were booke...,3,2024-08-09,United Kingdom,True,family booked leave london hong kong august ma...
...,...,...,...,...,...,...
3835,Not Verified | We had to change from AA to BA...,2,2024-08-08,United States,False,verified change aa ba flight london missed con...
3836,✅ Trip Verified | After paying $6500 for ticke...,8,2024-08-08,United States,True,paying ticket family including pay sit togethe...
3837,✅ Trip Verified | An excellent flight on BA Ci...,10,2024-08-07,Lebanon,True,excellent flight ba cityflyer plane clean comf...
3838,✅ Trip Verified | Crew were amazing and atte...,1,2024-08-07,United Kingdom,True,crew amazing attentive nothing missed definite...
3839,Not Verified | I flew internationally for the...,5,2024-08-05,United States,False,verified flew internationally first time life ...

In [23]:
df.to_csv(cwd + "/British_Airways_cleaned_reviews.csv")